.container {
  padding: 0.7em 0.5em 0;
  position: relative;
  width: 100%;
  display: flex;

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.35em;

    .avatar {
      flex-shrink: 0;
      width: 50px;
      height: 50px;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .verticalLine {
      height: 100%;
      width: 2px;
      background-color: gray;
    }
  }

  .right {
    padding: 0.2em 1em 0;
    width: 100%;

    .header {
      padding: 0.2em 0;
      font-weight: 600;
      font-size: 14px;
    }
  
    .body {
      padding: 0.2em 0;
    }
  
    .footer {
  
    }

    .replies {
      position: relative;
    }

    .level5 {
      left: -300px;
      padding-top: 1em;
      background: #fff;
    }
  }

  .replyForm {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #fff;
    left: 70px;
    top: 100px;
    min-width: 400px;
    max-width: 700px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    svg {
      margin: 0.5em 0.5em 0.1em 0.1em;
      cursor: pointer;

      &:hover {
        transition: opacity 300ms;
        opacity: 0.7;
      }
    }
  }
}