.container {
  width: 100%;
  background-color: #fff;
  min-width: 300px;
  position: relative;
}

.level5 {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 50vw;
    left: 35px;
    height: 6px;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
  }

  &::after {
    content: "";
    position: absolute;
    width: 50vw;
    left: 32px;
    height: 2px;
    border-bottom: 2px solid gray;
    border-left: 2px solid gray;
    background: #fff;
  }
}