.container {
  height: 100vh;
  width: 80vw;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .commentsSection {
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    padding: 1em 1em;
  }
}
