.container {
  height: 100vh;
  width: 80vw;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.containerAdd {
  // background-color: gray;
  width: 100%;
  padding: 1rem 1rem;

  .nameField {
    width: 50%;
    padding: 0.5em 0.5em;
  }

  .emailField {
    width: 50%;
    padding: 0.5em 0.5em;
  }

  .submitBlock {
    position: relative;

    .commentField {
      width: 100%;
      padding: 0.5em 0.5em;
    }

    button {
      position: absolute;
      top: 20%;
      right: 3%;
    }
  }

}